.search-form {
    display: flex;
    width: 100%;
}

.search-input {
    flex-grow: 1;
    font-size: 1.1rem;
    padding: 15px;
    border: 1px solid var(--gray);
    border-right: none;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    outline: none;
}
.search-input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px rgba(255, 99, 71, 0.2);
}

.search-button {
    font-size: 1.2rem;
    padding: 0 20px;
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    cursor: pointer;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    transition: background-color 0.2s ease;
}
.search-button:hover {
    background-color: var(--primary-dark);
}